body {
  background-color: #fff;
}

.info {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info a {
  margin-bottom: 40px;
}
.info-tittle {
  text-align: left;
  margin-top: 200px;
  width: 60%;
}

.info-text {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.info-text p {
  width: 40%;
}

.info a {
  margin-top: 50px;
  color: black;
}
.btn-menu {
  position: absolute;
  top: 35px;

  font-size: 30px;
  right: 20px;
  display: none;
}

@media screen and (max-width: 768px) {
  .info-text {
    flex-direction: column;
  }
  .info-text p {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  header {
    grid-template-columns: 100%;
  }
  .header-tittle {
    background-color: #fff;
  }
  .btn-menu {
    display: block;
  }
  .header-nav {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ded7cf;
    height: 100vh;
    width: 100%;
    left: -100%;
    transition: 1s;
  }

  .close-menu {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .showMenu {
    left: 0;
  }
}
